<p>Hey {{ name }},</p>
<p>Please copy below code to confirm your email</p>
<strong style="font-size: 1.5em;">
    {{ code }}
</strong>

<p>If you did not request this email you can safely ignore it.</p>
